<div [hidden]="!showSpinner" class="uk-position-center" uk-spinner></div>
<div *ngIf="userData.hasOwnProperty('name')">
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-width-1-2@s uk-width-1-3@m">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="40" height="40" [src]="userData.avatar">&nbsp;
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-text-bottom uk-margin-remove-bottom">{{userData.login}}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="userProfileDetails === true" class="uk-card-footer">
        <div class="userProfileDetails">
          <b>{{userData.name}} {{userData.last_name}}</b><br>
          {{userData.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="userPosts">
    <app-user-post-block></app-user-post-block>
  </div>
</div>

<div #lackOfUser [hidden]="!showError">
  <h4 class="lackOfSth uk-position-center">User {{userlogin}} does not exists</h4>
</div>
