.header {
    background-color: #b33939;
    color: black;
    position: static;
    width: 90%;
    height: 38px;
    padding: 10px 0 10px 15px;
    font-size: x-large;
    opacity: 0.9;
    box-shadow: 10px 0 #a13333, 20px 0 #7d2727, 30px 0 #591c1c, 35px 0 white, 50ex 0 #b33939;
}
nav {
    margin-top: -10px;
    /*margin-left: -15px;*/
    padding: 10px 0;
    height: 38px;
}

#navmenu {
    color: floralwhite;
}
#navmenu :hover {
    color: lightgray;
}
#navmenu :active {
    color: darkgray;
}
.uk-offcanvas-bar {
    opacity: 0.95;
    background-color: #b33939;
    box-shadow: -3px 0 #a13333, -6px 0 #7d2727, -9px 0 #591c1c;
}
.uk-navbar-toggle {
    padding: 0 7px;
}
.menu-bottom-line {
    border-bottom: 1px solid rgba(255,255,255,.7);
}

.content {
    min-height: calc(100vh - 70px);
    margin-top: 10px;
}
.footer {
    height: 50px;
}
footer {
    background-color: #b33939;
    color: #f7f1e3;
    font-size: xx-small;
    line-height: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    text-align: center;
    padding: 8px 0 2px 0;
}